<!--<section class="background-threads careers-threads" id="top">-->
<!--  <div class="fade-in-section disable-fade-in is-visible fade-in-hero disable-transform">-->
<!--    <div class="container hero-splash-container">-->
<!--      <div class="row pv90-60">-->
<!--        <div class="col-sm-12 col-md-8 hero-splash">-->
<!--          <a class="hero-parent-title crown-link" routerLink="/home">-->
<!--            <h3 class="h1 small mb0 d-inline">Watcher</h3>-->
<!--          </a>-->
<!--          <h1 class="hero-title" style="color: white">Mise a jour</h1>-->
<!--        </div>-->
<!--        <div class="col-12"></div>-->
<!--        <div class="col-sm-12 col-md-5"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<div class="border-top-black is-visible" id="peak">
  <section class="content-section-mobile background-white pt-5 mb60 pb60"  style="margin: 0 auto; top: 5%; overflow-x: auto; height: 100%;">
    <div style="margin: 0 auto">
      <h2 class="hero-title mt-5 mb-5 mb-5 pb-5" style="text-align: center; font-family: 'GT America Extended'">{{ 'update.update' | translate }}</h2>
      <div [formGroup]="criteriaFrom" (ngSubmit)="onSubmit()">
        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;">
          <div formArrayName="criteres" style="text-align: center; width: 80vw;">
<!--            <p-progressSpinner *ngIf="loading"></p-progressSpinner>-->

            <div *ngIf="loading">
              <div style="display: flex; flex-direction: row;
              flex-wrap:wrap; justify-content: center">
                <div class="mb-1 mr-3">
                  <p-skeleton styleClass="mb-5" borderRadius="0" width="14rem" height="1rem" *ngIf="!isSmallScreen"></p-skeleton>
                  <p-skeleton borderRadius="0" width="14rem" height="3rem"></p-skeleton>
                </div>
                <div class="mb-1 mr-3">
                  <p-skeleton styleClass="mb-5" borderRadius="0" width="14rem" height="1rem" *ngIf="!isSmallScreen"></p-skeleton>
                  <p-skeleton borderRadius="0" width="14rem" height="3rem"></p-skeleton>
                </div>
                <div class="mb-1 mr-3">
                  <p-skeleton styleClass="mb-5" borderRadius="0" width="14rem" height="1rem" *ngIf="!isSmallScreen"></p-skeleton>
                  <p-skeleton borderRadius="0" width="14rem" height="3rem"></p-skeleton>
                </div>
                <div>
                  <div class="mb-5" [ngClass]="{ 'mt-3': !isSmallScreen, 'pt-5': !isSmallScreen }">
                    <p-skeleton borderRadius="0" width="3rem" height="3rem"></p-skeleton>
                  </div>
                </div>
              </div>

              <div style="display: flex; flex-direction: row;
              flex-wrap:wrap; justify-content: center">
                <div class="mb-1 mr-3">
                  <p-skeleton borderRadius="0" width="14rem" height="3rem"></p-skeleton>
                </div>
                <div class="mb-1 mr-3">
                  <p-skeleton borderRadius="0" width="14rem" height="3rem"></p-skeleton>
                </div>
                <div class="mb-1 mr-3">
                  <p-skeleton borderRadius="0" width="14rem" height="3rem"></p-skeleton>
                </div>
                <div>
                  <div class="mb-5">
                    <p-skeleton borderRadius="0" width="3rem" height="3rem"></p-skeleton>
                  </div>
                </div>
              </div>

              <div style="display: flex; flex-direction: row;
              flex-wrap:wrap; justify-content: center">
                <div class="mb-1 mr-3">
                  <p-skeleton borderRadius="0" width="14rem" height="3rem"></p-skeleton>
                </div>
                <div class="mb-1 mr-3">
                  <p-skeleton borderRadius="0" width="14rem" height="3rem"></p-skeleton>
                </div>
                <div class="mb-1 mr-3">
                  <p-skeleton borderRadius="0" width="14rem" height="3rem"></p-skeleton>
                </div>
                <div>
                  <div class="mb-5">
                    <p-skeleton borderRadius="0" width="3rem" height="3rem"></p-skeleton>
                  </div>
                </div>
              </div>
            </div>

            <div *ngFor="let preference of getPreferences().controls; index as i">
              <div [formGroup]="preference" style="display: flex; flex-direction: row;
              flex-wrap:wrap; justify-content: center">
                <div class="mb-1 mr-3">
                  <label for="sectors" *ngIf="i === 0 && !isSmallScreen" style="font-size: 18px; font-family: 'GT America Extended'">{{ 'subscribe.sectors' | translate }}(s): </label><br>
                  <div class="mb-5" *ngIf="i === 0 && !isSmallScreen"></div>
                  <p-dropdown id="sectors" [options]="sectors" optionLabel="Name"
                              [filter]="true" filterBy="Name"
                              placeholder="{{ 'subscribe.sectors' | translate }}" formControlName="filieres">
                    <ng-template let-sector pTemplate="item">
                      <div>{{sector.Name}}</div>
                    </ng-template>
                  </p-dropdown>
                </div>

                <div class="mb-1 mr-3">
                  <label for="markets" *ngIf="i === 0 && !isSmallScreen" style="font-size: 18px; font-family: 'GT America Extended'">{{ 'subscribe.markets' | translate }}(s): </label><br>
                  <div class="mb-5" *ngIf="i === 0 && !isSmallScreen"></div>
                  <p-dropdown id="markets" [options]="markets" optionLabel="Nom"
                              [filter]="true" filterBy="Nom"
                              placeholder="{{ 'subscribe.markets' | translate }}" formControlName="marches">
                    <ng-template let-market pTemplate="item">
                      <div>{{market.Nom}}</div>
                    </ng-template>
                  </p-dropdown>
                </div>

                <div class="mb-1 mr-3">
                  <label for="themes" *ngIf="i === 0 && !isSmallScreen" style="font-size: 18px; font-family: 'GT America Extended'">{{ 'subscribe.themes' | translate }}(s): </label><br>
                  <div class="mb-5" *ngIf="i === 0 && !isSmallScreen"></div>
                  <p-dropdown id="themes" [options]="themes" optionLabel="Nom"
                              [filter]="true" filterBy="Nom"
                              placeholder="{{ 'subscribe.themes' | translate }}" formControlName="themes">
                    <ng-template let-theme pTemplate="item">
                      <div>{{theme.Nom}}</div>
                    </ng-template>
                  </p-dropdown>
                </div>

                <div>
                  <div class="mb-5" *ngIf="i === 0 && !isSmallScreen"></div>
                  <button pButton pRipple type="button" label="x"
                          class="p-button-raised p-button-danger" style="margin-top: 27px"
                          [style.border-radius.px]="0" (click)="deletePreferences(i)"></button>
                </div>
              </div>
            </div>
            <div class="mt-5">
              <button pButton pRipple type="button" label="{{ 'activation.add' | translate }}"
                      class="p-button-raised p-button-success add-button" [disabled]="loading"
                      [style.border-radius.px]="0" (click)="addPreferences()"></button>
            </div>
            <div style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center" class="mt-5">
              <button pButton (click)="onSubmit()" *ngIf="!criteriaFrom.invalid && !(this.criteriaFrom.controls.criteres.value.length === 0)"
                      [style.border-radius.px]="0" [loading]="processing"
                      label="{{ 'subscribe.send' | translate }}" icon="pi pi-arrow-right"
                      iconPos="right" class="p-button-lg p-button-outlined p-button-secondary search-input"></button>
            </div>
          </div>
        </div>
    </div>
    </div>
    <p-dialog header="{{ 'update.header-success' | translate }}" [(visible)]="done"
              [modal]="true" [closable]="false"
              [breakpoints]="{'960px': '75vw', '640px': '95vw'}"
              [style]="{ width: '50vw'}" [baseZIndex]="10000"
              [draggable]="false">
      <p>{{ 'update.success' | translate }}</p>
      <ng-template pTemplate="footer">
        <p-button (click)="redirectTo()" label="Ok" styleClass="p-button-text"></p-button>
      </ng-template>
    </p-dialog>

    <p-dialog header="{{ 'update.header-error' | translate }}" [(visible)]="error"
              [modal]="true" [closable]="false"
              [breakpoints]="{'960px': '75vw', '640px': '95vw'}"
              [style]="{ width: '50vw'}" [baseZIndex]="10000"
              [draggable]="false">
      <p>{{ 'update.loadingError' | translate }}</p>
      <ng-template pTemplate="footer">
        <p-button (click)="refresh()" label="Ok" styleClass="p-button-text"></p-button>
      </ng-template>
    </p-dialog>

    <p-dialog header="{{ 'update.header-error' | translate }}" [(visible)]="modifError"
              [modal]="true" [closable]="false"
              [breakpoints]="{'960px': '75vw', '640px': '95vw'}"
              [style]="{ width: '50vw'}" [baseZIndex]="10000"
              [draggable]="false">
      <p>{{ 'update.error' | translate }}</p>
      <ng-template pTemplate="footer">
        <p-button (click)="redirectTo()" label="Ok" styleClass="p-button-text"></p-button>
      </ng-template>
    </p-dialog>
  </section>
</div>
