<section class="background-threads careers-threads" id="top">
  <div class="fade-in-section disable-fade-in is-visible fade-in-hero disable-transform">
    <div class="container hero-splash-container">
      <div class="row pv90-60">
        <div class="col-sm-12 col-md-8 hero-splash">
          <a class="hero-parent-title crown-link" routerLink="/home">
            <h3 class="h1 small mb0 d-inline">Watcher</h3>
          </a>
          <h1 class="hero-title" style="color: white">Mise a jour</h1>
        </div>
        <div class="col-12"></div>
        <div class="col-sm-12 col-md-5"></div>
      </div>
    </div>
  </div>
</section>

<section class="background-grid-short-white">
  <div class="container pv120-90" id="index-content-section">

  </div>
</section>
