<!--<section class="background-threads careers-threads" id="top">-->
<!--  <div class="fade-in-section disable-fade-in is-visible fade-in-hero disable-transform">-->
<!--    <div class="container hero-splash-container">-->
<!--      <div class="row pv90-60">-->
<!--        <div class="col-sm-12 col-md-8 hero-splash">-->
<!--          <a class="hero-parent-title crown-link" routerLink="/home">-->
<!--            <h3 class="h1 small mb0 d-inline">Watcher</h3>-->
<!--          </a>-->
<!--          <h1 class="hero-title" style="color: white">{{ 'about.title' | translate }}</h1>-->
<!--        </div>-->
<!--        <div class="col-12"></div>-->
<!--        <div class="col-sm-12 col-md-5"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<div class="border-top-black">
  <section class="content-section-mobile background-white">
    <div class="container content_nav-container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 pb120-90 pt120-45 content-area-content"  [ngClass]="{ 'border-left-black':!isSmallScreen }">
          <h2 class="mb-5 mt-5 pt-5">{{ 'about.tools' | translate }}</h2>
          <div class="free-form-content__content wysiwyg-wrapper">
            <div *ngIf="ready">
              <markdown [data]="infos.about"></markdown>
            </div>
            <div *ngIf="!ready">
              <p-skeleton width="100%" height="70vh" borderRadius="0"></p-skeleton>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
