<!--<section class="background-threads careers-threads">-->
<!--  <div class="fade-in-section disable-fade-in is-visible fade-in-hero disable-transform">-->
<!--    <div class="container hero-splash-container">-->
<!--      <div class="row pv90-60">-->
<!--        <div class="col-sm-12 col-md-8 hero-splash">-->
<!--          <a class="hero-parent-title crown-link" routerLink="/home">-->
<!--            <h3 class="h1 small mb0 d-inline">Watcher</h3>-->
<!--          </a>-->
<!--          <h1 class="hero-title" style="color: white">{{ 'resources.title' | translate }}</h1>-->
<!--        </div>-->
<!--        <div class="col-12"></div>-->
<!--        <div class="col-sm-12 col-md-5"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<div class="border-top-black is-visible mt-5" id="top">
  <section class="content-section-mobile background-white">
    <div class="container content_nav-container">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 pb120-90 pt120-45 content-area-content" [ngClass]="{ 'border-left-black':!isSmallScreen }">
<!--          <p-progressSpinner *ngIf="!ready"></p-progressSpinner>-->
          <div class="free-form-content__content wysiwyg-wrapper">
            <div>
              <h2 class="pb-4 ml-2" *ngIf="filterValue === 'ALL'">{{ 'resources.title' | translate }}</h2>
<!--              <h2 class="pb100" *ngIf="filterValue !== 'ALL'">Ressources [{{ filterValue }}]</h2>-->

              <div *ngIf="!ready">
                <div>
                  <p-skeleton width="15rem" height="3rem" borderRadius="0"></p-skeleton>
                </div>
                <div class="wfb-card-wrapper pt60">
                  <div class="no-gutters" [ngClass]="{ 'small':!isSmallScreen, 'row':isSmallScreen }">
                    <div [ngStyle]="{'width': isSmallScreen ? '15rem': '6rem' }" class="mb-2">
                      <p-skeleton width="5rem" height="5rem" borderRadius="0"></p-skeleton>
                    </div>
                    <div [ngClass]="{ 'col-md-12':isSmallScreen }">
                      <div class="wfb-card__body-container">
                        <div class="wfb-card__link-container">
                          <h5 class="mb-1">
                            <p-skeleton width="10rem" height="2rem" borderRadius="0"></p-skeleton>
                          </h5>
                        </div>
                        <h6 style="font-weight: normal; margin-bottom: 0">
                          <p>
                            <p-skeleton width="15rem" height="8rem" borderRadius="0"></p-skeleton>
                          </p>
                        </h6>
                        <div class="thee-link-container">
                          <div>
                            <div class="wfb-card__link-container"
                                 style="display: flex; flex-direction: row; flex-wrap: wrap">
                              <div class="wfb-card__text mb-1 mt-1"><p
                                style="color: darkgray; font-size: 14px"><p-skeleton width="4rem" height="1rem" borderRadius="0"></p-skeleton></p></div>
                            </div>
                          </div>
                        </div>
                        <div class="thee-link-container">
                          <div>
                            <div class="wfb-card__link-container"
                                 style="display: flex; flex-direction: row; flex-wrap: wrap">
                              <div class="wfb-card__text mr-5 mb-1 mt-1 mr-auto"><p class="mr-5"
                                                                                    style="color: darkgray; font-size: 14px"><p-skeleton width="4rem" height="1rem" borderRadius="0"></p-skeleton></p></div>
                            </div>
                          </div>
                        </div>
                        <div class="thee-link-container">
                          <div>
                            <div class="wfb-card__link-container"
                                 style="display: flex; flex-direction: row; flex-wrap: wrap">
                              <div class="wfb-card__text col-xl-6 col-lg-6 col-md-6 mb-1 mt-1 mr-auto"
                                   style="margin-top: 8px">
                                <p style="color: darkgray; font-size: 14px">
                                  <p-skeleton width="5rem" height="1rem" borderRadius="0"></p-skeleton>
                                </p>
                              </div>
                              <div style="display: flex; flex-direction: row; flex-wrap: nowrap">
                                <div class="wfb-card__text" style="margin-top: 8px">
                                </div>
                                <div class="wfb-card__text">
                                  <button style="margin: 0; padding: 0; border: none;">
                                    <p-skeleton width="1rem" height="1rem" borderRadius="0"></p-skeleton>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br>

                <div class="wfb-card-wrapper pt60">
                  <div class="no-gutters" [ngClass]="{ 'small':!isSmallScreen, 'row':isSmallScreen }">
                    <div [ngStyle]="{'width': isSmallScreen ? '15rem': '6rem' }" class="mb-2">
                      <p-skeleton width="5rem" height="5rem" borderRadius="0"></p-skeleton>
                    </div>
                    <div [ngClass]="{ 'col-md-12':isSmallScreen }">
                      <div class="wfb-card__body-container">
                        <div class="wfb-card__link-container">
                          <h5 class="mb-1">
                            <p-skeleton width="10rem" height="2rem" borderRadius="0"></p-skeleton>
                          </h5>
                        </div>
                        <h6 style="font-weight: normal; margin-bottom: 0">
                          <p>
                            <p-skeleton width="15rem" height="8rem" borderRadius="0"></p-skeleton>
                          </p>
                        </h6>
                        <div class="thee-link-container">
                          <div>
                            <div class="wfb-card__link-container"
                                 style="display: flex; flex-direction: row; flex-wrap: wrap">
                              <div class="wfb-card__text mb-1 mt-1"><p
                                style="color: darkgray; font-size: 14px"><p-skeleton width="4rem" height="1rem" borderRadius="0"></p-skeleton></p></div>
                            </div>
                          </div>
                        </div>
                        <div class="thee-link-container">
                          <div>
                            <div class="wfb-card__link-container"
                                 style="display: flex; flex-direction: row; flex-wrap: wrap">
                              <div class="wfb-card__text mr-5 mb-1 mt-1 mr-auto"><p class="mr-5"
                                                                                    style="color: darkgray; font-size: 14px"><p-skeleton width="4rem" height="1rem" borderRadius="0"></p-skeleton></p></div>
                            </div>
                          </div>
                        </div>
                        <div class="thee-link-container">
                          <div>
                            <div class="wfb-card__link-container"
                                 style="display: flex; flex-direction: row; flex-wrap: wrap">
                              <div class="wfb-card__text col-xl-6 col-lg-6 col-md-6 mb-1 mt-1 mr-auto"
                                   style="margin-top: 8px">
                                <p style="color: darkgray; font-size: 14px">
                                  <p-skeleton width="5rem" height="1rem" borderRadius="0"></p-skeleton>
                                </p>
                              </div>
                              <div style="display: flex; flex-direction: row; flex-wrap: nowrap">
                                <div class="wfb-card__text" style="margin-top: 8px">
                                </div>
                                <div class="wfb-card__text">
                                  <button style="margin: 0; padding: 0; border: none;">
                                    <p-skeleton width="1rem" height="1rem" borderRadius="0"></p-skeleton>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <p-dataView *ngIf="ready" #dv [value]="filteredRessources" [paginator]="true" [rows]="5" [filterBy]="filterVal"
                          layout="grid">
                <ng-template pTemplate="header">
                  <p-accordion>
                    <p-accordionTab  [style]="{'width': '30%'}" header="{{ 'resources.advanced' | translate }}" [selected]="false">

                      <div style="display: flex; flex-direction: column; flex-wrap: wrap" class="mb-2">
                        <div class="mr-auto mb-3" id="filieres">
                          <label for="filieres">{{ 'resources.sectors' | translate }}:</label><br>
                          <p-dropdown #sector [showClear]="true" [options]="sectors" [filter]="true" filterBy="Name"
                                      optionLabel="Name" placeholder="{{ 'resources.sector' | translate }}"
                                      (onChange)="onSortChange($event)" optionValue="Name"></p-dropdown>
                        </div>

                        <div class="mr-3 mb-3" id="marches">
                          <label for="marches">{{ 'resources.markets' | translate }}:</label><br>
                          <p-dropdown #market [showClear]="true" [options]="markets" [filter]="true" filterBy="Nom"
                                      optionLabel="Nom" placeholder="{{ 'resources.market' | translate }}"
                                      (onChange)="onSortChange($event)" optionValue="Nom"></p-dropdown>
                        </div>

                        <div class="mr-3 mb-3" id="themes">
                          <label for="themes">{{ 'resources.themes' | translate }}:</label><br>
                          <p-dropdown #theme [showClear]="true" [options]="themes" [filter]="true" filterBy="Nom"
                                      optionLabel="Nom" placeholder="{{ 'resources.theme' | translate }}"
                                      (onChange)="onSortChange($event)" optionValue="Nom"></p-dropdown>
                        </div>
                      </div>

                      <div style="display: flex; flex-direction: column; flex-wrap: wrap" class="mb-2">
                        <div class="mr-3 mb-3" id="date_debut">
                          <label for="date_debut">{{ 'resources.begin' | translate }}:</label><br>
                          <p-calendar #debut dateFormat="mm-dd-yy" [showIcon]="true" inputId="icon"></p-calendar>
                        </div>

                        <div class="mr-3 mb-3" id="date_fin">
                          <label for="date_fin">{{ 'resources.end' | translate }}:</label><br>
                          <p-calendar #fin dateFormat="mm-dd-yy" [showIcon]="true" inputId="icon"></p-calendar>
                        </div>

                      </div>

                      <div class="mb-5" style="display: flex; flex-direction: row; flex-wrap: nowrap">
                        <button pButton
                                (click)="search(sector.value, market.value, theme.value, debut.value, fin.value)"
                                [style.border-radius.px]="0" [loading]="searching"
                                label="{{ 'resources.search' | translate }}" icon="pi pi-arrow-right"
                                iconPos="right"
                                class="p-button-lg p-button-outlined p-button-secondary search-input"></button>
                      </div>
                      <div>
                        <button class="link-style-button pb-3" [style.height.px]="22"
                                (click)="getRessourcesProperties()">{{ 'resources.clear' | translate }}</button>
                      </div>
                      <span class="mt-3"></span>
                    </p-accordionTab>
                  </p-accordion>
                </ng-template>
                <ng-template let-con pTemplate="gridItem">
                  <div>
                    <div>
                      <div class="wfb-card-wrapper pt60" *ngIf="!searching">
                        <div class="no-gutters" [ngClass]="{ 'small':!isSmallScreen, 'row':isSmallScreen }">
                          <div [ngStyle]="{'max-width': isSmallScreen ? '15rem': '8rem'}" class="mr-5 ml-3 mt-2">
                            <img [ngStyle]="{'min-width': isSmallScreen ? '15rem': '8rem'}" [src]="con.imageUrl" alt="">
                          </div>
                          <div class="ml-3" [ngClass]="{ 'col-md-12':isSmallScreen }">
                            <div class="wfb-card__body-container">
                              <h5 class="mb-1">
                                {{ con.title }}
                              </h5>
                              <h6 style="font-weight: normal; margin-bottom: 0">
                                <p>
                                  {{ con.text }}
                                </p>
                              </h6>
                              <div class="thee-link-container">
                                <div>
                                  <div class="wfb-card__link-container"
                                       style="display: flex; flex-direction: row; flex-wrap: wrap">
                                    <div class="wfb-card__text"><p
                                      style="color: darkgray; font-size: 14px">{{ 'resources.date' | translate }}
                                      : {{ con.date }}</p></div>
                                  </div>
                                </div>
                              </div>
                              <div class="thee-link-container" *ngIf="con.market !== 'All' && con.market.Nom !== 'Tous les marchés'">
                                <div>
                                  <div class="wfb-card__link-container"
                                       style="display: flex; flex-direction: row; flex-wrap: wrap">
                                    <div class="wfb-card__text mr-5 mr-auto"><p class="mr-5"
                                                                                style="color: darkgray; font-size: 14px">{{ 'resources.market' | translate }}
                                      : {{ con.market.Nom }}</p></div>
                                  </div>
                                </div>
                              </div>
                              <div class="thee-link-container" *ngIf="con.sectors !== 'All' && con.sectors[0].Name !== 'Toutes les filières'">
                                <div class="wfb-card__link-container"
                                     style="display: flex; flex-direction: row; flex-wrap: wrap">
                                  <div class="wfb-card__text col-xl-6 col-lg-6 col-md-6 mr-auto">
                                    <p style="color: darkgray; font-size: 14px">{{ 'resources.sectors' | translate }}:
                                      <span *ngFor="let sector of con.sectors">{{ sector.Name }}<span
                                        *ngIf="!(sector.Name === con.sectors[con.sectors.length - 1].Name)">, </span></span>
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="thee-link-container">
                                <div style="display: flex; flex-direction: row; flex-wrap: nowrap">
                                  <div class="wfb-card__text" style="margin-top: 8px">
                                    <p style="color: darkgray; font-size: 14px; text-align: center">Source: </p>
                                  </div>
                                  <div class="wfb-card__text">
                                    <button style="margin: 0; padding: 0; border: none;"
                                            (click)="redirectTo(con.source)">
                                      <svg class="icon" role="img" aria-labelledby="file-icon" viewBox="0 0 30 30">
                                        <path
                                          d="M16.667,7 L9,7 L9,24 L22,24 L22,12.308 L16.667,7 Z M17,8.742 L20.273,12 L17,12 L17,8.742 Z M10,23 L10,8 L16,8 L16,13 L21,13 L21,23 L10,23 Z"
                                          fill="#161618" fill-rule="nonzero"></path>
                                      </svg>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </p-dataView>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
