<section class="background-threads careers-threads" id="top">
  <div class="fade-in-section disable-fade-in is-visible fade-in-hero disable-transform">
    <div class="container hero-splash-container">
      <div class="row pv90-60">
        <div class="col-sm-12 col-md-8 hero-splash">
          <a class="hero-parent-title crown-link" routerLink="/home">
            <h3 class="h1 small mb0 d-inline">Watcher</h3>
          </a>
          <h1 class="hero-title" style="color: white">{{ 'resources.title' | translate }}</h1>
        </div>
        <div class="col-12"></div>
        <div class="col-sm-12 col-md-5"></div>
      </div>
    </div>
  </div>
</section>

<div class="border-top-black is-visible">
  <section class="content-section-mobile background-white">
    <div class="container content_nav-container">
      <div class="row" *ngIf="isThereAlert">
        <div class="col-lg-6 col-md-12 col-sm-12 border-left-black pb120-90 pt120-45 content-area-content">
          <p-progressSpinner *ngIf="!ready"></p-progressSpinner>
          <div class="free-form-content__content wysiwyg-wrapper" *ngIf="ready">
            <div>
              <h2 class="pb100" *ngIf="filterValue === 'ALL'">Toutes les ressources</h2>
              <h2 class="pb100" *ngIf="filterValue !== 'ALL'">Ressources [{{ filterValue }}]</h2>

              <p-dataView #dv [value]="filteredRessources" [paginator]="true" [rows]="5" [filterBy]="filterVal" layout="grid">
                <ng-template pTemplate="header">
<!--                  <div class="search-input-wrapper mr-auto mb-5">-->
<!--                    <div class="search-input white-bg">-->
<!--                      <input class="search-input-field white-bg" type="search" (input)="dv.filter($event.target.value, 'contains')" placeholder="Search">-->
<!--                      <button type="submit" value="Submit" class="search-input-button white-bg">-->
<!--                        <svg class="search-input-icon" aria-labelledby="search-icon" role="img" viewBox="0 0 30 30">-->
<!--                          <title id="search-icon">Search Icon</title>-->
<!--                          <g id="Icon/ti-search" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
<!--                            <path d="M23.6040022,22.896 L18.4310022,17.723 C19.4060022,16.586 20.0000011,15.112 20.0000011,13.5 C20.0000011,9.916 17.0840022,7 13.5000011,7 C11.7640022,7 10.1310022,7.676 8.90200221,8.903 C7.67500221,10.131 6.99900221,11.764 7.00000111,13.5 C7.00000111,17.084 9.91600221,20 13.5000011,20 C15.1120022,20 16.5870022,19.406 17.7240022,18.431 L22.8970022,23.604 L23.6040022,22.896 Z M13.5000009,19 C10.4680022,19 8.0000009,16.533 8.0000009,13.5 C7.99900221,12.03 8.57100221,10.649 9.61000221,9.611 C10.6480022,8.572 12.0300022,8 13.5000009,8 C16.5320022,8 19.0000009,10.467 19.0000009,13.5 C19.0000009,16.532 16.5320022,19 13.5000009,19 Z" id="ic_search" fill-rule="nonzero"></path>-->
<!--                          </g>-->
<!--                        </svg>-->
<!--                      </button>-->
<!--                      <div class="suggestions"><span></span>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
                  <div style="display: flex; flex-direction: row; flex-wrap: wrap" class="mb-2">

                    <div class="mr-3 mb-3" id="filieres">
                      <label for="filieres">Filières:</label><br>
                      <p-dropdown [options]="sectors" optionLabel="Name" placeholder="filière" (onChange)="onSortChange($event)"></p-dropdown>
                    </div>

                    <div class="mr-3 mb-3" id="marches">
                      <label for="marches">Marchés:</label><br>
                      <p-dropdown [options]="markets" optionLabel="Nom" placeholder="marché" (onChange)="onSortChange($event)"></p-dropdown>
                    </div>

                    <div class="mr-3 mb-3" id="themes">
                      <label for="themes">Thèmes:</label><br>
                      <p-dropdown [options]="themes" optionLabel="Nom" placeholder="type d'alerte" (onChange)="onSortChange($event)"></p-dropdown>
                    </div>
                  </div>

                  <div style="display: flex; flex-direction: row; flex-wrap: wrap" class="mb-5">
                    <div class="mr-3 mb-3" id="date_debut">
                      <label for="date_debut">Date de début:</label><br>
                      <p-calendar dateFormat="mm-dd-yy" [showIcon]="true" inputId="icon"></p-calendar>
                    </div>

                    <div class="mr-3 mb-3" id="date_fin">
                      <label for="date_fin">Date de fin:</label><br>
                      <p-calendar dateFormat="mm-dd-yy" [showIcon]="true" inputId="icon"></p-calendar>
                    </div>
                  </div>
                </ng-template>
                <ng-template let-con pTemplate="gridItem">
                  <div>
                    <div>
                      <div class="wfb-card-wrapper pt60">
                        <div class="row no-gutters">
                          <div class="col-md-12">
                            <div class="wfb-card__body-container">
                              <div class="wfb-card__link-container">
                                <h5 class="mb-1">
                                  <span class="col-8">{{ con.title }}</span>
                                </h5>
                              </div>
                              <h6 style="font-weight: normal; margin-bottom: 0">
                                <p>
                                  {{ con.text }}
                                </p>
                              </h6>
                              <div class="thee-link-container">
                                <div>
                                  <div class="wfb-card__link-container" style="display: flex; flex-direction: row; flex-wrap: wrap">
                                    <div class="wfb-card__text mr-5 mb-1 mt-1 mr-auto"><p class="mr-5" style="color: darkgray; font-size: 14px">Date de debut: {{ con.date_debut }}</p></div>
                                    <div class="wfb-card__text mb-1 mt-1"><p style="color: darkgray; font-size: 14px">Date de fin: {{ con.date_fin }}</p></div>
                                  </div>
                                </div>
                              </div>
                              <div class="thee-link-container">
                                <div>
                                  <div class="wfb-card__link-container" style="display: flex; flex-direction: row; flex-wrap: wrap">
                                    <div class="wfb-card__text mr-5 mb-1 mt-1 mr-auto"><p class="mr-5" style="color: darkgray; font-size: 14px">Marché: {{ con.market.Nom }}</p></div>
                                  </div>
                                </div>
                              </div>
                              <div class="thee-link-container">
                                <div>
                                  <div class="wfb-card__link-container" style="display: flex; flex-direction: row; flex-wrap: wrap">
                                    <div class="wfb-card__text col-xl-6 col-lg-6 col-md-6 mb-1 mt-1 mr-auto" style="margin-top: 8px">
                                      <p style="color: darkgray; font-size: 14px">Filières:
                                        <span *ngFor="let sector of con.sectors">{{ sector.Name }}<span *ngIf="!(sector.Name === con.sectors[con.sectors.length - 1].Name)">, </span></span>
                                      </p>
                                    </div>
                                    <div style="display: flex; flex-direction: row; flex-wrap: nowrap">
                                      <div class="wfb-card__text" style="margin-top: 8px">
                                        <p style="color: darkgray; font-size: 14px; text-align: center">Source: </p>
                                      </div>
                                      <div class="wfb-card__text">
                                        <button style="margin: 0; padding: 0; border: none;" (click)="redirectTo(con.source)">
                                          <svg class="icon" role="img" aria-labelledby="file-icon" viewBox="0 0 30 30">
                                            <path d="M16.667,7 L9,7 L9,24 L22,24 L22,12.308 L16.667,7 Z M17,8.742 L20.273,12 L17,12 L17,8.742 Z M10,23 L10,8 L16,8 L16,13 L21,13 L21,23 L10,23 Z" fill="#161618" fill-rule="nonzero"></path>
                                          </svg>
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </p-dataView>

<!--              <div *ngFor="let con of filteredRessources  | paginate: { itemsPerPage: 5, currentPage: page, totalItems: totalItems}">-->
<!--                <div>-->
<!--                  <div>-->
<!--                    <div class="wfb-card-wrapper pb60">-->
<!--                      <div class="row no-gutters">-->
<!--                        <div class="col-md-12">-->
<!--                          <div class="wfb-card__body-container">-->
<!--                            <div class="wfb-card__link-container">-->
<!--                              <h5 class="mb-1">-->
<!--                                <span class="col-8">{{ con.title }}</span>-->
<!--                              </h5>-->
<!--                            </div>-->
<!--                            <h6 style="font-weight: normal; margin-bottom: 0">-->
<!--                              <p>-->
<!--                                {{ con.text }}-->
<!--                              </p>-->
<!--                            </h6>-->
<!--                            <div class="thee-link-container">-->
<!--                              <div>-->
<!--                                <div class="wfb-card__link-container" style="display: flex; flex-direction: row; flex-wrap: wrap">-->
<!--                                  <div class="wfb-card__text mr-5 mb-1 mt-1 mr-auto"><p class="mr-5" style="color: darkgray; font-size: 14px">Marché: {{ con.market.Nom }}</p></div>-->
<!--                                  <div class="wfb-card__text mb-1 mt-1"><p style="color: darkgray; font-size: 14px">Date: {{ con.date }}</p></div>-->
<!--                                </div>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                            <div class="thee-link-container">-->
<!--                              <div>-->
<!--                                <div class="wfb-card__link-container" style="display: flex; flex-direction: row; flex-wrap: wrap">-->
<!--                                  <div class="wfb-card__text col-xl-6 col-lg-6 col-md-6 mb-1 mt-1 mr-auto" style="margin-top: 8px">-->
<!--                                    <p style="color: darkgray; font-size: 14px">Filières:-->
<!--                                      <span *ngFor="let sector of con.sectors">{{ sector.Name }}<span *ngIf="!(sector.Name === con.sectors[con.sectors.length - 1].Name)">, </span></span>-->
<!--                                    </p>-->
<!--                                  </div>-->
<!--                                  <div style="display: flex; flex-direction: row; flex-wrap: nowrap">-->
<!--                                    <div class="wfb-card__text" style="margin-top: 8px">-->
<!--                                      <p style="color: darkgray; font-size: 14px; text-align: center">Source: </p>-->
<!--                                    </div>-->
<!--                                    <div class="wfb-card__text">-->
<!--                                      <button style="margin: 0; padding: 0; border: none;" (click)="redirectTo(con.source)">-->
<!--                                        <svg class="icon" role="img" aria-labelledby="file-icon" viewBox="0 0 30 30">-->
<!--                                          <path d="M16.667,7 L9,7 L9,24 L22,24 L22,12.308 L16.667,7 Z M17,8.742 L20.273,12 L17,12 L17,8.742 Z M10,23 L10,8 L16,8 L16,13 L21,13 L21,23 L10,23 Z" fill="#161618" fill-rule="nonzero"></path>-->
<!--                                        </svg>-->
<!--                                      </button>-->
<!--                                    </div>-->
<!--                                  </div>-->
<!--                                </div>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
            </div>
<!--            <pagination-controls-->
<!--              style="position: absolute; bottom: 15px"-->
<!--              previousLabel="{{ 'sector.previous' | translate }}"-->
<!--              nextLabel="{{ 'sector.next' | translate }}"-->
<!--              responsive="true" (pageChange)="page=$event"-->
<!--              [ngStyle]="{'position': isSmallScreen ? {'position' : 'absolute', 'bottom.px' : 0} : {}}"></pagination-controls>-->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
