<div class="container-header">
  <header>
    <ul class="nav" [ngClass]="{'hide': toggled === false, 'show': toggled === true}">
      <li class="logo-container">
        <a routerLink="/home" class="nav-link">WHATCHER</a>
      </li>
      <li class="nav-item">
        <a routerLink="/industries" class="nav-link">Industries</a>
      </li>
      <li class="nav-item">
        <a routerLink="/sectors" class="nav-link">Sectors</a>
      </li>
      <li class="nav-item">
        <a routerLink="/markets" class="nav-link">markets</a>
      </li>
      <li class="nav-item">
        <a routerLink="/notes" class="nav-link">Notes</a>
      </li>
      <li class="nav-item">
        <a routerLink="/ressources" class="nav-link">Resources</a>
      </li>
      <li class="nav-item">
        <a routerLink="/about" class="nav-link">About</a>
      </li>
    </ul>
    <div class="nav-menu" (click)="toggleMenu()">
      <span class="nav-link">Menu</span>
    </div>
  </header>
</div>
