<div class="subsite-header hidden" [ngClass]="{'subsite-open':subsiteOpened === true, 'revealed':!display}">
  <div class="fade-in-section disable-fade-in is-visible fade-in-header">
    <header>
      <div class="header-logo">
        <a aria-current="page" class="logo-marque" routerLink="/home" (click)="close()">
          <span class="text-logo-title-full" style="font-weight: bolder; font-size: 30px">INT'L TRADE watcher</span>
          <span class="text-logo-title-short" style="font-weight: bolder; font-size: 25px">watcher</span>
        </a>
      </div>
      <button (click)="open()"
              [ngClass]="{'is-active':subsiteOpened === true}"
              class="hamburger hamburger--emphatic"
              type="button" aria-label="Menu"
              aria-controls="navigation"
              aria-expanded="false">
        <span class="hamburger-box"><span class="hamburger-inner"></span>
        </span>
      </button>
      <div class="navigation-wrapper background-split-black" [ngClass]="{'menu-open':subsiteOpened === true}">
        <nav aria-label="Primary Navigation" class="header-nav">
          <ul class="navigation-menu">
            <li class="navigation-menu-item subsite-nav">
              <select name="Language" #lang (change)="translate.use(lang.value)">
                <option value="Fr">Fr</option>
                <option value="En">En</option>
              </select>
            </li>
            <li class="navigation-menu-item subsite-nav">
              <a routerLink="/industries" routerLinkActive="active" (click)="close()">{{ 'navMenu.industries' | translate }}</a>
            </li>
            <li class="navigation-menu-item subsite-nav">
              <a routerLink="/markets" routerLinkActive="active" (click)="close()">{{ 'navMenu.markets' | translate }}</a>
            </li>
            <li class="navigation-menu-item subsite-nav">
              <a routerLink="/notes" routerLinkActive="active" (click)="close()">{{ 'navMenu.notes' | translate }}</a>
            </li>
            <li class="navigation-menu-item subsite-nav">
              <a routerLink="/about" routerLinkActive="active" (click)="close()">{{ 'navMenu.about' | translate }}</a>
            </li>
            <li class="navigation-menu-item subsite-nav">
              <button style="cursor: pointer"
                      (click)="openAdminApp()" class="button button-default">
                <span style="color: whitesmoke">{{ 'navMenu.logIn' | translate }}</span>
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </header>
  </div>
</div>
