<section class="background-threads careers-threads" id="top">
  <div class="fade-in-section disable-fade-in is-visible fade-in-hero disable-transform">
    <div class="container hero-splash-container">
      <div class="row pv90-60">
        <div class="col-sm-12 col-md-8 hero-splash">
          <h1 class="hero-title" style="color: white">Choix des préférences</h1>
        </div>
        <div class="col-12"></div>
        <div class="col-sm-12 col-md-5"></div>
      </div>
    </div>
  </div>
</section>
<div class="border-top-black is-visible">
  <section class="content-section-mobile background-white pt-5 mb60 pb60"  style="margin: 0 auto; top: 5%; overflow-x: auto; height: 80vh;">
    <div class="m-5">
      <h4 class="mb-3" style="text-align: center">Veuillez sélectionner vos préférences</h4><br>
      <div [formGroup]="criteriaFrom" (ngSubmit)="onSubmit()">
        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;">
          <div formArrayName="criteres" style="text-align: center; width: 80vw;">
            <div *ngFor="let preference of getPreferences().controls; index as i">
              <div [formGroup]="preference" style="display: flex; flex-direction: row; border-bottom: 1px solid #787676; flex-wrap:wrap; justify-content: center" class="pb-4 mb-4">
                <div class="mb-5 mr-3">
                  <label for="sectors">Filière: </label><br>
                  <p-dropdown id="sectors" [options]="sectors" optionLabel="Name"
                              [filter]="true" filterBy="Name" optionValue="id"
                              placeholder="Filière" formControlName="filieres">
                    <ng-template let-sector pTemplate="item">
                      <div>{{sector.Name}}</div>
                    </ng-template>
                  </p-dropdown>
                </div>

                <div class="mb-5 mr-3">
                  <label for="markets">Marché: </label><br>
                  <p-dropdown id="markets" [options]="markets" optionLabel="Nom"
                              [filter]="true" filterBy="Nom" optionValue="id"
                              placeholder="Marché" formControlName="marches">
                    <ng-template let-market pTemplate="item">
                      <div>{{market.Nom}}</div>
                    </ng-template>
                  </p-dropdown>
                </div>

                <div class="mb-5 mr-3">
                  <label for="themes">Type d'alerte: </label><br>
                  <p-dropdown id="themes" [options]="themes" optionLabel="Nom"
                              [filter]="true" filterBy="Nom" optionValue="id"
                              placeholder="Type d'alerte" formControlName="themes">
                    <ng-template let-theme pTemplate="item">
                      <div>{{theme.Nom}}</div>
                    </ng-template>
                  </p-dropdown>
                </div>

                <div>
                  <button pButton pRipple type="button" label="x"
                          class="p-button-raised p-button-danger" style="margin-top: 27px"
                          [style.border-radius.px]="0" (click)="deletePreferences(i)"></button>
                </div>
              </div>
            </div>
            <div class="mt-5">
              <button pButton pRipple type="button" label="Ajouter"
                      class="p-button-raised p-button-success add-button"
                      [style.border-radius.px]="0" (click)="addPreferences()"></button>
            </div>
            <div style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center" class="mt-5">
              <button pButton (click)="onSubmit()" *ngIf="!criteriaFrom.invalid && !(this.criteriaFrom.controls.criteres.value.length === 0)"
                      [style.border-radius.px]="0"
                      label="{{ 'subscribe.send' | translate }}" icon="pi pi-arrow-right"
                      iconPos="right" class="p-button-lg p-button-outlined p-button-secondary search-input"></button>
<!--              <p-progressSpinner class="ml-4" [style]="{height: '60px'}"></p-progressSpinner>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
