<section class="background-threads careers-threads" id="top">
  <div class="fade-in-section disable-fade-in is-visible fade-in-hero disable-transform">
    <div class="container hero-splash-container">
      <div class="row pv90-60">
        <div class="col-sm-12 col-md-8 hero-splash">
          <h1 class="hero-title" style="color: white">Activation</h1>
        </div>
        <div class="col-12"></div>
        <div class="col-sm-12 col-md-5"></div>
      </div>
    </div>
  </div>
</section>
<div class="border-top-black is-visible">
  <section class="content-section-mobile background-white pt-5 mb60 pb60"  style="margin: 0 auto; top: 5%; overflow-x: auto; height: 80vh;">
    <div style="margin-left: 25%; margin-top: 10%; display: flex; flex-direction: row; flex-wrap: wrap">
      <h3 class="mt-4 mr-4">{{ 'activation.message' | translate }}</h3>
      <p-progressSpinner class="ml-4" [style]="{height: '100px'}" *ngIf="!done"></p-progressSpinner>
    </div>
    <p-dialog [closable]="false" header="{{ 'activation.header' | translate }}" [(visible)]="done" [modal]="true"
              [breakpoints]="{'960px': '75vw', '640px': '95vw'}"
              [style]="{ width: '50vw'}" [baseZIndex]="10000"
              [draggable]="false">
      <p>{{ 'activation.done' | translate }}</p>
      <ng-template pTemplate="footer">
        <p-button label="Ok" (click)="rederectTo()" styleClass="p-button-text"></p-button>
      </ng-template>
    </p-dialog>
  </section>
</div>
