<div class="main-container">
  <div class="image-container">
    <img src="../../assets/logo.PNG" alt="">
    <p>2021 Ministère du commerce</p>
  </div>
  <div class="form-container">
    <div class="m-4">
      <h4 class="mb-4">Se Connecter</h4>
      <form action="">
        <label for="email">Email</label>
        <input type="email" id="email" class="mb-2">
        <label for="password">Mot de passe</label>
        <input class="mb-3" type="password" id="password">
        <button class="mr-4" type="submit" value="login" style="width: 100px;">login</button>
        <span style="position: relative; bottom: -4px;">Mot de passe oublié ?</span>
      </form>
    </div>
  </div>
</div>
