.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 700px; height: 300px;
}

.content {
  display: flex;
  flex-direction: row;
  border: 1px solid #FEFEFE;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.image-container {
  border-right: 1px solid #FEFEFE;
  width: 40%;
  height: 100%;
  position: relative;
  bottom: 0;
  background: #FEFEFE
}

.image-container img {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.image-container p {
  color: #161618;
  font-size: 12px;
  left: 50px;
  position: relative
}

.form-container {
  width: 60%;
  border-bottom: none;
}

.second-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  right: 0;
  position: absolute;
  bottom: -15px
}

input[type=email], input[type=password] {
  width: 100%;
  height: 35px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: transparent;
  color: #ffffff;
  box-sizing: border-box;
}

label {
  font-weight: normal;
  font-size: 15px;
}

button[type=submit] {
  width: 20%;
  font-weight: normal;
  background-color: #ffffff;
  padding: 5px 12px;
  color: black;
  text-align: center;
  border: none;
  cursor: pointer;
}

@media screen and (max-width:700px) {
  .main-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #FEFEFE;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85vw;
    height: 90vh;
  }

  .content {
    border: none;
  }

  .image-container {
    border-right: 1px solid #FEFEFE;
    width: 100%;
    height: 40%;
    position: relative;
    bottom: 0;
    background: #FEFEFE;
    display: flex;
    flex-direction: column;
  }

  .image-container img {
    position: relative;
    width: 45%;
  }

  .image-container p {
    color: #161618;
    font-size: 12px;
    bottom: 0;
    width: 80%;
    text-align: center;
    left: 50%;
    top: 80%;
    margin-top: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .form-container {
    width: 100%;
    height: 60%;
  }

  .second-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    right: 0;
    position: absolute;
    bottom: -80px
  }

  .second-title div {
   width: 80%;
  }

  button[type=submit] {
    left: 50%;
    margin-bottom: 10px;
  }
}

@media screen and (height: 720px) {
  .image-container img {
    position: relative;
    width: 35%;
  }
}
