<!--<section class="background-threads careers-threads" id="top">-->
<!--  <div class="fade-in-section disable-fade-in is-visible fade-in-hero disable-transform">-->
<!--    <div class="container hero-splash-container">-->
<!--      <div class="row pv90-60">-->
<!--        <div class="col-sm-12 col-md-8 hero-splash">-->
<!--          <a class="hero-parent-title crown-link" routerLink="/home">-->
<!--            <h3 class="h1 small mb0 d-inline">Watcher</h3>-->
<!--          </a>-->
<!--          <h1 class="hero-title" style="color: white">Souscription</h1>-->
<!--        </div>-->
<!--        <div class="col-12"></div>-->
<!--        <div class="col-sm-12 col-md-5"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<div class="border-top-black is-visible" id="peak">
  <section class="content-section-mobile background-white pt-5 mb60 mb60 mb60 pb60"
           style="margin: 0 auto; top: 5%; overflow-x: auto; height: 100%;">
    <div style="margin: 0 auto"
         class="col-xs-12 col-sm-10 col-md-10 col-lg-6 pt-5">
      <h2 class="hero-title mt-5 mb-5 mb-5 pb-5" style="text-align: center; font-family: 'GT America Extended'">{{ 'subscribe.title' | translate }}</h2>
      <p-tabView>
        <p-tabPanel header="{{ 'subscribe.signUp' | translate }}">
          <form [formGroup]="subscriptionForm" (ngSubmit)="submit()" class="search-input-wrapper">
            <label for="name" class="mb-2">{{ 'subscribe.name' | translate }}: </label>
            <div class="search-input white-bg size mb-5" id="name">
              <input type="text" class="search-input-field white-bg" formControlName="name">
            </div>

            <label for="surname" class="mb-2">{{ 'subscribe.surname' | translate }}: </label>
            <div class="search-input white-bg mb-5" id="surname">
              <input type="text" class="search-input-field white-bg" formControlName="surname">
            </div>

            <label for="tel" class="mb-2">{{ 'subscribe.tel' | translate }}: </label>
            <div class="search-input white-bg mb-5" id="tel">
              <input type="text" class="search-input-field white-bg" formControlName="tel">
            </div>

            <label for="email" class="mb-2">{{ 'subscribe.mail' | translate }}: </label>
            <div class="search-input white-bg mb-5" id="email">
              <input type="email" class="search-input-field white-bg" formControlName="email">
            </div>
            <div style="display: flex; flex-direction: row; flex-wrap: nowrap">
              <button pButton type="submit" [disabled]="subscriptionForm.invalid || processing"
                      label="{{ 'subscribe.send' | translate }}" icon="pi pi-arrow-right" [loading]="processing"
                      iconPos="right" class="p-button-lg p-button-outlined p-button-secondary search-input"></button>
            </div>
          </form>
        </p-tabPanel>
        <p-tabPanel header="{{ 'subscribe.update' | translate }}">
          <form [formGroup]="updateForm" (ngSubmit)="update()" class="search-input-wrapper">

            <h4>
              <p style="text-align: center">{{ 'subscribe.updateMessage' | translate }}</p>
            </h4>
            <br>
            <label for="emailmodify" class="mb-2">{{ 'subscribe.mail' | translate }}: </label>
            <div class="search-input white-bg mb-5" id="emailmodify">
              <input type="email" class="search-input-field white-bg" formControlName="email">
            </div>

            <div style="display: flex; flex-direction: row; flex-wrap: nowrap">
              <button pButton type="submit" [disabled]="updateForm.invalid || processing"
                      label="{{ 'subscribe.send' | translate }}" icon="pi pi-arrow-right" [loading]="processing"
                      iconPos="right" class="p-button-lg p-button-outlined p-button-secondary search-input"></button>
            </div>
          </form>
        </p-tabPanel>
      </p-tabView>
    </div>

    <p-dialog header="Confirmation" [(visible)]="displayMaximizable"
              [modal]="true" [closable]="false"
              [breakpoints]="{'960px': '75vw', '640px': '95vw'}"
              [style]="{ width: '50vw'}" [baseZIndex]="10000"
              [draggable]="false">
      <p>{{ 'confirm.confirmation' | translate }}</p>
      <ng-template pTemplate="footer">
        <p-button (click)="redirectTo()" label="Ok" styleClass="p-button-text"></p-button>
      </ng-template>
    </p-dialog>

    <p-dialog header="{{ 'confirm.error-header' | translate }}" [(visible)]="alreadyExist" [modal]="true"
              [breakpoints]="{'960px': '75vw', '640px': '95vw'}"
              [style]="{ width: '50vw'}" [baseZIndex]="10000"
              [draggable]="false">
      <p>{{ 'confirm.error' | translate }}</p>
    </p-dialog>
  </section>
</div>
