<section class="background-threads careers-threads">
  <div class="fade-in-section disable-fade-in is-visible fade-in-hero disable-transform">
    <div class="container hero-splash-container" id="top">
      <div class="row pv90-60">
        <div class="col-sm-12 col-md-8 hero-splash">
          <a class="hero-parent-title crown-link" routerLink="/home">
            <h3 class="h1 small mb0 d-inline">Watcher</h3>
          </a>
          <h1 class="hero-title" style="color: white">Souscription</h1>
        </div>
        <div class="col-12"></div>
        <div class="col-sm-12 col-md-5"></div>
      </div>
    </div>
  </div>
</section>
<div class="border-top-black is-visible">
  <section class="content-section-mobile background-white pt-5 mb-4 pb-5"  style="margin: 0 auto; top: 5%; overflow-x: auto; height: 100%;">
    <form [formGroup]="subscriptionForm" (ngSubmit)="submit()" style="position: relative; left: 50%; transform: translateX(-50%)" class="search-input-wrapper" [ngClass]="{'col-sm-5':!isSmallScreen}">
      <label for="name" class="mb-2">{{ 'subscribe.name' | translate }}: </label>
      <div class="search-input white-bg size mb-5" id="name">
        <input type="text" class="search-input-field white-bg" formControlName="name">
      </div>

      <label for="surname" class="mb-2">{{ 'subscribe.surname' | translate }}: </label>
      <div class="search-input white-bg mb-5" id="surname">
        <input type="text" class="search-input-field white-bg" formControlName="surname">
      </div>

      <label for="tel" class="mb-2">{{ 'subscribe.tel' | translate }}: </label>
      <div class="search-input white-bg mb-5" id="tel">
        <input type="text" class="search-input-field white-bg" formControlName="tel">
      </div>

      <label for="email" class="mb-2">{{ 'subscribe.mail' | translate }}: </label>
      <div class="search-input white-bg mb-5" id="email">
        <input type="email" class="search-input-field white-bg" formControlName="email">
      </div>

      <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;">
        <div class="mb-5">
          <label for="sectors">{{ 'subscribe.sectors' | translate }}: </label>
          <p-multiSelect id="sectors" [options]="sectors"
                         styleClass="search-input" defaultLabel="{{ 'subscribe.sectorsSelect' | translate }}"
                         formControlName="sectors"
                         optionLabel="name" selectedItemsLabel="{0} {{ 'subscribe.selectedSectors' | translate }}"></p-multiSelect>
        </div>
        <div class="mb-5">
          <label for="markets">{{ 'subscribe.markets' | translate }}: </label>
          <p-multiSelect id="markets" [options]="markets"
                         styleClass="search-input" defaultLabel="{{ 'subscribe.marketsSelect' | translate }}"
                         formControlName="markets"
                         optionLabel="name" selectedItemsLabel="{0} {{ 'subscribe.selectedMarkets' | translate }}"></p-multiSelect>
        </div>
        <div class="mb-5">
          <label for="themes">{{ 'subscribe.themes' | translate }}: </label>
          <p-multiSelect id="themes" [options]="themes"
                         styleClass="search-input" defaultLabel="{{ 'subscribe.themesSelect' | translate }}"
                         formControlName="themes"
                         optionLabel="name" selectedItemsLabel="{0} {{ 'subscribe.selectedThemes' | translate }}"></p-multiSelect>
        </div>
      </div>
      <button pButton type="button" label="{{ 'subscribe.send' | translate }}" icon="pi pi-arrow-right" iconPos="right" class="p-button-lg p-button-outlined p-button-secondary search-input"></button>
    </form>
  </section>
</div>
