label {
  font-size: 15px;
}

:host ::ng-deep .p-multiselect {
  border-radius: 0;
  border: 1px solid black;
  padding: 10px 20px;
  min-width: 18rem;
  max-width: 18rem;

  .p-multiselect-filter-container {
    border-radius: 0;
  }

}

:host ::ng-deep .p-button {
  border-radius: 0;
  padding: 20px 20px;
  min-width: 18rem;
  max-width: 18rem;
}

:host ::ng-deep .p-button:hover {
  background-color: #e21a41;
}

.body-growth {
  height: 190vh;
}

.body-normal {
  height: 120vh;
}
