label {
  font-size: 15px;
}

div input {
  font-family: "GT America Extended";
}

:host ::ng-deep .p-multiselect {
  border-radius: 0;
  border: 1px solid black;
  padding: 10px 20px;
  min-width: 18rem;
  max-width: 18rem;

  .p-multiselect-filter-container {
    border-radius: 0;
  }
}

:host ::ng-deep .p-button {
  font-family: "GT America Extended";
  border-radius: 0;
  padding: 15px 15px;
  min-width: 12rem;
  max-width: 12rem;
}

:host ::ng-deep .p-tabview {
  .p-tabview-nav {
    font-family: "GT America Extended";
    background: transparent;
    border: 1px solid #dee2e6;
    border-width: 0 0 0 0;
  }
}

.body-growth {
  height: 190vh;
}

.body-normal {
  height: 120vh;
}
