<section class="background-grid-short-white">
  <div class="container pv120-90" id="index-content-section">
    <div class="row">
      <div class="col-lg-3 col-md-12 col-sm-12">
      <div class="filter-wrapper filter-sticky">
        <div class="filter-clear">
          <div class="label bold">{{ numberOfElement }} Resultats</div>
          <button class="link-style-button" (click)="filter('ALL')">Vider le filtre</button>
        </div>
        <div class="az-container mb30">
          <div class="az-box">
            <div class="az-filter__header fs-small pb30">
              <div>
                <span class="label">Filtre</span>
                <div class="az-filter_mobile_display bold">{{ beginLetter }}</div>
              </div>
              <div class="az-filter__mobile">
                <button tabindex="0" class="az-filter__mobile-button"
                        (click)="open()">
                  <svg class="icon icon-red" aria-labelledby="point-down-icon" role="img" viewBox="0 0 30 30">
                    <title id="point-down-icon">Point Down Icon</title>
                    <polygon fill-rule="nonzero" points="23.354 12.075 15.499 19.929 7.646 12.075 8.353 11.368 15.498 18.514 22.646 11.367 23.354 12.075"></polygon>
                  </svg>
                </button>
              </div>
            </div>
            <div class="" [ngClass]="{'az-list':openedList === true}">
            </div>
            <div class="row no-gutters" [ngClass]="{'az-filter__mobile_list':openedList === false}">
              <div class="col-3 letter-container" *ngFor="let letter of alphabet">
                <button class="az-button"
                        [ngClass]="{'checked-active':letter === beginLetter}"
                        (click)="filter(letter)"
                        aria-label="Show Letter - A"
                        data-testid="letter">
                  <h6 class="mb0">{{ letter }}</h6>
                </button>
              </div>
              <div class="col-6">
                <button class="az-button all-button"
                        [ngClass]="{'checked-active': beginLetter === 'ALL'}"
                        (click)="filter('ALL')"
                        aria-label="Show All - Letters" data-testid="all-letters">
                  <h6 class="mb0">TOUT</h6>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="col-lg-9 col-md-12 col-sm-12">
        <div class="row mt45">
          <div class="col-lg-9" *ngFor="let i of industries;">
            <div class="border pb30" *ngIf="i.startsWith(beginLetter)">
              <div class="pb30">
                <h2 class="mb0">
                  <a class="inline-link" [routerLink]="['/industries', i]">
                    <span>{{ i }}</span>
                  </a>
                </h2>
              </div>
            </div>
            <div class="border pb30" *ngIf="beginLetter === 'ALL'">
              <div class="pb30">
                <h2 class="mb0">
                  <a class="inline-link" [routerLink]="['/industries', i]">
                    <span>{{ i }}</span>
                  </a>
                </h2>
              </div>
            </div>
          </div>
          <div class="row no-gutters" style="margin-left: 20px;">
            <div class="pagination-controls col-lg-6">
              <div class="card-media__controls-wrapper">
                <span tabindex="0" role="button" class="pagination__arrow-left disabled" data-testid="left-arrow" aria-label="Previous Page disabled">
                  <svg class="icon icon-red icon-arrow-wide" aria-label="Backwards" aria-labelledby="previous-page" role="img" viewBox="0 0 30 30">
                    <title id="previous-page">Precedent</title>
                    <polygon fill="#161618" fill-rule="nonzero" points="12.414 14.853 19.56 22 18.853 22.707 11 14.853 18.854 7 19.561 7.707"></polygon>
                  </svg>
                </span>
                <span class="label" data-testid="page-label">Page&nbsp;<strong>01</strong>&nbsp;of 03</span>
                <span tabindex="0" role="button" class="pagination__arrow-right" data-testid="right-arrow" aria-label="Next Page">
                  <svg class="icon icon-red icon-arrow-wide" aria-label="Forwards" aria-labelledby="next-page" role="img" viewBox="0 0 30 30">
                    <title id="next-page">Suivant</title><polygon fill="#161618" fill-rule="nonzero" points="19.561 14.854 11.707 22.708 11 22.001 18.146 14.855 11 7.707 11.707 7"></polygon>
                  </svg>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
