<div class="container">
  <div class="card table-container">
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <button pButton pRipple label="Ajouter une alerte" icon="pi pi-plus" class="p-button-success p-mr-2"></button>
        <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger"></button>
      </ng-template>
    </p-toolbar>

    <p-table #dt [value]="filteredAlert" [rows]="5" [paginator]="true" [globalFilterFields]="['date','author','title', 'color', 'type']" autoLayout="autoLayout"
             [(selection)]="selectedAlert" [rowHover]="true" dataKey="id"
             currentPageReportTemplate="Afficher {first} a {last} sur {totalRecords} enregistrement(s)" [showCurrentPageReport]="true">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <h5 class="p-m-0">Liste des alertes</h5>
          <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Rechercher..." />
                </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="name">Type <p-sortIcon field="type"></p-sortIcon></th>
          <th pSortableColumn="price">Sévérité</th>
          <th pSortableColumn="category">Date <p-sortIcon field="date"></p-sortIcon></th>
          <th pSortableColumn="rating">Auteur <p-sortIcon field="author"></p-sortIcon></th>
          <th pSortableColumn="inventoryStatus">Titre <p-sortIcon field="title"></p-sortIcon></th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-alert>
        <tr>
          <td>
            <p-tableCheckbox [value]="alert.id"></p-tableCheckbox>
          </td>
          <td>{{alert.type}}</td>
          <td>{{alert.color}}</td>
          <td>{{alert.date}}</td>
          <td>{{alert.author}}</td>
          <td>{{alert.title}}</td>
          <td>
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
