.img-align-1 {
  display: block;
  position: absolute;
  z-index: -100;
  width: calc(50% - 1px) !important;
  height: 100%;
  top: 0;
  left: 0;
  transition: ease-in-out .5s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-align-2 {
  display: block;
  position: absolute;
  width: calc(50% - 1px) !important;
  height: 100%;
  top: 0;
  right: 0;
  transition: ease-in-out .5s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
